# Python cache
__pycache__/

# Virtual environments
venv/
.venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
data/predictiveengine.db
*.log
